html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #91B3C6;
    border: 1px solid;
    font-family: 'Noto Sans', sans-serif; 
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px auto 1fr;
    gap: 20px;
}

nav {
    grid-column: 1 / -1;
}

main {
    grid-column: 3 / -1;
}

footer {
    grid-column: 1 / -1;
}

/* styling */
nav {
    display: flex;
    padding: 0.63rem;
    background-color: #d8d9db;
    position: sticky;
    top: 0;
}

img {
    margin-right: 0.31rem;
    float: left;
    max-width: 100%;
}

h1 {
    display: inline;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

span {
    font-size: 0.63rem;
    font-style: italic;
    position: absolute;
    top: 3rem;
    left: 4.375rem;
}

.top {
    margin-left: auto;
}

.top li {
    display: inline-block;
    margin: 0 1.875rem;
}

main {
    display: flex;
    flex-direction: column;
}

.description {
    width: 80%;
    align-self: center;
    padding: 0.63rem;
}

.des {
    text-align: center;
}

label {
    display: block;
    font-weight: 700;
    text-align: center;
}

input {
    display: block;
    margin: 0.63rem auto;
    padding: 0.438rem;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: inherit;   
}

.btn {
    display: block;
    padding: 0.6rem;
    margin: 0.6rem auto;
    border: none;
    border-radius: 5px;
    background-color: #510E80;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

.btn:hover {
    background-color: #4048C9;
}

aside {
    position: fixed;
    top: 6.25rem;
    left: 1.88rem;
    font-size: 1rem;
    text-align: center;
}

aside .fas {
    margin-bottom: 0;
}

aside p {
    font-family: 'Poppins', sans-serif;
}

.quality {
    width: 80%;
    align-self: center;
    padding: 0.63rem;
}

article {
    display: flex;
}

.fas {
    margin: 2.5rem auto;
}

.grid {
    margin-left: 1.25rem;
}

.grid h2 {
    margin-bottom: 0.3125rem;
}

.grid p {
    margin-top: 0;
}

.facility {
    display: flex;
    height: 100%;
    min-height: 0;
    justify-content: center;
}

.facility iframe {
    flex: 0 1 60%;
}

.pricing {
    display: flex;
    margin-top: 1.875rem;
}

.plan {
    border: 1px solid;
    flex: 1 1 auto;
    margin-right: 0.63rem;
    text-align: center;
}

.plan p {
    font-size: 1.5rem;
}

.comp li {
    list-style: none;
    margin-right: 1.88rem;
    line-height: 1.5;
}

footer {
    background: #d8d9db;
    paddng: 0.63rem;
    display: flex;
}

address, .social, .copy {
    flex-basis: 33.3%;
    text-align: center;
}

.fab {
    margin-left: 1.25rem;
    cursor: pointer;
}

.fab:hover {
    transform: scale(1.5);
}

.copy li {
    margin-right: 1.88rem;
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: green;
}

@media screen and (max-width: 830px) {
    aside {
        display: none;
    }

    .description, .quality, .pricing {
        width: 100%;
    }

    main {
        grid-column: 2 / 12;
    }

    .pricing {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
 .top {
        margin-left: 0;
    }

    img {
        display: none;
    }

    span {
        position: absolute;
        left: 1rem;
    }

    .top li {
        margin: 0 1rem;
    }

    .icon {
        display: none;
    }
}

